
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

#contact {
  background-color: #DDD4ED;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 10px solid #443069;
  box-sizing: border-box;
  padding-top: 1in;
}

.container {
  text-align: center;
  max-width: 600px;
  padding: 0 20px; /* Adjust the padding as needed */
  animation: drop-in 1s ease 200ms backwards;
}

.row.justify-content-center {
  display: relative;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 120%; /* Adjust the width as needed */
  margin: 0 auto;
  font-size: 16px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 30px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-left: -15%; /* Add this line to center the form */
}

.section-title {
  margin-bottom: 20px;
  color: #362456;
  text-align: center; /* Center the section title */
}

.section-title h2 {
  font-size: 74px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
  color: #362456;
  text-align: center;
}

.section-title h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  color: #362456;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center; /* Center the text */
}

.title {
  font-size: 20px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
  color: #362456;
  text-align: center;
}

input {
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 35px;
  padding: 0px;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  font-size: 16px;

  &:focus {
    border: 2px solid #443069;
  }
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 0px;
  padding-left: 10px;
  padding-top: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  font-size: 16px;

  &:focus {
    border: 2px solid #443069;
  }
}

label {
  margin-top: 1rem;
  text-align: left;
  color: #362456;
  font-size: 16px;
  font-family: 'Merriweather', serif; /*this changes font of name, email, message*/
  
  font-weight: 700;
}

input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: #443069;
  color: white;
  border: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  padding-left: 0px;
  font-family: 'Merriweather', serif; /*this changes font of the links*/
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 26px; /*changes size of icon*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #997EC9;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #997EC9;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #997EC9;
  color: #fff;
}
