.header {
  position: absolute;
  padding-top: 25px;
  padding-right: 2in;
  padding-left: 2in;
  height: 60px;
  width: 70%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.logo img {
  width: 100px;
  height: auto;
  padding-top: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  white-space: nowrap;
}

.nav-links li {
  margin-left: 50px;
}

.nav-links li a {
  text-decoration: none;
  align-items: right;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #362456;
  position: relative;
}

.nav-links li:last-child a {
  text-decoration: none !important;
  border: 2px solid #362456;
  padding: 5px 10px;
  border-radius: 56px;
}

.nav-links li.resume-link a {
  text-decoration: none !important;
  transition: background-color 0.25s ease-out;
}

.nav-links li.resume-link a:hover {
  background-color: #8361BD;
}

.nav-links li:not(.resume-link) a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #362456;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links li:not(.resume-link) a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
